<p>lesson01 works!</p>
<!-- <hr>
<h1>Hello , {{ name }}</h1>
<h1>{{ 'Hi ' + name }}</h1>
<hr>
<h2>Age = {{ age }}</h2>
<hr>
<h3>Online: {{ status }}</h3>
<hr>
<h4>{{ arrNames }}</h4>
<h4>{{ arrNames[2] }}</h4>
<hr>
<h5>Person = {{ person.firstName }} {{ person.lastName }}</h5>
<hr>
<h2>{{ showMyName() }}</h2> -->
<hr><hr>
<a [href]="homePageUrl">{{ homePageName }}</a>
<hr>
<a [href]="homePageUrl" [textContent]="homePageName"></a>
<hr>
<a bind-href="homePageUrl" [textContent]="homePageName"></a>
<hr>
<a [attr.href]="homePageUrl" [textContent]="homePageName"></a>
<hr>
<button [class]="classes">Add</button>
<hr>
<button [class.btn]="isBtn">Add</button>
<hr>
<h1 [style.color]="isColor ? 'green' : 'red'">Some test</h1>
<hr>
<!-- <button (click)="changeColor()">change color</button> -->
<!-- <button on-click="changeColor()">change color</button> -->
<button (click)="changeColor($event)">change color</button>
<hr>
<input type="text" [(ngModel)]="userName">
<p>Name: {{ userName }}</p>
<button (click)="getName()">get</button>