<p>lesson04 works!</p>

<!-- 
UpperCasePipe
LowerCasePipe
TitleCasePipe
SlicePipe

DecimalPipe
PercentPipe

CurrencyPipe

DatePipe

AsyncPipe 
-->

<button (click)="checkData()">check</button>

<input type="text" [(ngModel)]="field">

<table class="table">
    <thead>
        <th>Mark 
            <button (click)="changeSort('asc')">A-Z</button>
            <button (click)="changeSort('desc')">Z-A</button>
        </th>
        <th>Model</th>
        <th>CreateAt</th>
        <th>Color</th>
        <th>Options</th>
        <th>Power</th>
        <th>Engine</th>
        <th>Price</th>
    </thead>
    <tbody>
        <tr *ngFor="let car of cars | sort:type  | search:">
            <td>{{ car.mark | uppercase  }}</td>
            <td>{{ car.model | lowercase }}</td>
            <!-- <td>{{ car.createAt | date }}</td> -->
            <!-- <td>{{ car.createAt | date:'short' }}</td> -->
            <!-- <td>{{ car.createAt | date:'shortDate' }}</td> -->
            <!-- <td>{{ car.createAt | date:'shortTime' }}</td> -->
            <!-- <td>{{ car.createAt | date:'medium' }}</td> -->
            <!-- <td>{{ car.createAt | date:'long' }}</td> -->
            <!-- <td>{{ car.createAt | date:'full' }}</td> -->
            <td>{{ car.createAt | date:'dd.MM.YYYY HH:mm:ss' }}</td>
            <!-- 10.09.2021 12:00:30 -->
            <td>{{ car.color | titlecase }}</td>
            <td>{{ car.options | slice:0:21 }} <span *ngIf="car.options.length > 22">...</span></td>
            <td>{{ car.power | number:'5.2-2' }}</td>
            <td>{{ car.engine }}</td>
            <!-- <td>{{ car.price | currency:'UAH':'symbol-narrow':'1.0-0' }}</td> -->
            <!-- <td>{{ car.price | currency:'UAH':'symbol-narrow'  }}</td> -->
            <td>{{ car.price | hryvnia:'$'  }}</td>
        </tr>
    </tbody>
</table>

<!-- {{ variable | uppercase }} -->
<!-- {{ variable | lowercase }} -->
<!-- {{ variable | titlecase }} -->
<!-- {{ variable | slice:start:end }} -->
<!-- {{ variable | number:digitInfo }} -->
<!-- digitInfo  'minInteger.minFraction-maxFraction' -->
<!-- {{ variable | percent:digitInfo }} -->
<!-- {{ variable | currency:'CURRENCY' }} -->
<!-- {{ variable | date }} -->